<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploration" data-toc-modified-id="Exploration-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Exploration</a></span></li><li><span><a href="#Exploration-by-columns" data-toc-modified-id="Exploration-by-columns-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exploration by columns</a></span></li><li><span><a href="#data-prep" data-toc-modified-id="data-prep-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>data prep</a></span></li></ul></div>

In [2]:
import pandas as pd
import re
# Display all the columns
pd.set_option('display.max_columns', None)
path_input='./../data/data_raw/'
path_output='./../data/data_created/'

In [3]:
#lod file
df_mail = pd.read_csv(path_input+'Sendiblue_logs-2016-07-15_2020-07-21.csv')

## Exploration

In [4]:
len(df_mail)

717869

In [5]:
df_mail.shape

(717869, 7)

In [6]:
df_mail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717869 entries, 0 to 717868
Data columns (total 7 columns):
st_text    717869 non-null object
ts         717869 non-null object
sub        717869 non-null object
frm        717869 non-null object
email      717869 non-null object
tag        717869 non-null object
mid        717869 non-null object
dtypes: object(7)
memory usage: 38.3+ MB

In [7]:
df_mail.head(2)

,st_text,ts,sub,frm,email,tag,mid
0,Ouvert,21-07-2020 12:03:35,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...
1,Ouvert,21-07-2020 12:01:11,A35996 : Nouvelle demande,contact@arsenalchirurgical.com,advortho@serf.fr,Aucun,<9d4d67a01cd9f7d3433b664baa2c0cd6@app.arsenalc...

In [8]:
display(df_mail.nunique())
display(len(df_mail))

st_text        12
ts         399927
sub         73481
frm             5
email        1405
tag             1
mid         90969
dtype: int64

717869

## Exploration by columns

In [10]:
dfDrop = df_mail.copy().drop_duplicates()

In [11]:
display(dfDrop.nunique())
display(len(dfDrop))

st_text        12
ts         399927
sub         73481
frm             5
email        1405
tag             1
mid         90969
dtype: int64

701751

In [12]:
dfDrop[dfDrop['st_text'] == 'Hard bounce'].sample(3)

,st_text,ts,sub,frm,email,tag,mid
44880,Hard bounce,30-06-2020 09:59:21,Demande de prêt : A35475,contact@arsenalchirurgical.com,fducher@atf-implants.com,Aucun,<f9350079498fe49fa9539195e5891b40@app.arsenalc...
398442,Hard bounce,13-12-2019 15:08:50,[Arsenal Chirurgical] - Inscription sur notre ...,contact@arsenalchirurgical.com,moustafa.rkiba@sfr.fr,Aucun,<f03cddcb83133b41fcdf3dd914a90804@app.arsenalc...
313028,Hard bounce,29-01-2020 11:29:02,[Arsenal Chirurgical] - Inscription sur notre ...,contact@arsenalchirurgical.com,laurent.boulard@louispasteursante.fr,Aucun,<32a574705d05fcaafdf33429c9ca4af0@app.arsenalc...

In [13]:
dfDrop.head(3)

,st_text,ts,sub,frm,email,tag,mid
0,Ouvert,21-07-2020 12:03:35,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...
1,Ouvert,21-07-2020 12:01:11,A35996 : Nouvelle demande,contact@arsenalchirurgical.com,advortho@serf.fr,Aucun,<9d4d67a01cd9f7d3433b664baa2c0cd6@app.arsenalc...
2,1ère ouverture,21-07-2020 12:00:22,A34993 : prêt pour l'enlevement,contact@arsenalchirurgical.com,service.prets@stryker.com,Aucun,<fcdf7d09432f62fd7e071f0f125ae93a@app.arsenalc...

In [14]:
list(dfDrop['st_text'].unique())

['Ouvert',
 '1ère ouverture',
 'Délivré',
 'Envoyé',
 'Cliqué',
 'Différé',
 'Bloqué',
 'Hard bounce',
 'Soft bounce',
 'Error',
 'Désinscrit',
 'Email invalide']

In [15]:
list(dfDrop['frm'].unique())

['contact@arsenalchirurgical.com',
 'arsenalrapport@medialeads.fr',
 'Aucun',
 'roxanne@arsenalchirurgical.com',
 'arsenalrapport@europeansourcing.com']

In [16]:
dfDrop['date'] = pd.to_datetime(dfDrop['ts'], format='%d-%m-%Y %H:%M:%S')

In [17]:
dfDrop.head()

,st_text,ts,sub,frm,email,tag,mid,date
0,Ouvert,21-07-2020 12:03:35,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:03:35
1,Ouvert,21-07-2020 12:01:11,A35996 : Nouvelle demande,contact@arsenalchirurgical.com,advortho@serf.fr,Aucun,<9d4d67a01cd9f7d3433b664baa2c0cd6@app.arsenalc...,2020-07-21 12:01:11
2,1ère ouverture,21-07-2020 12:00:22,A34993 : prêt pour l'enlevement,contact@arsenalchirurgical.com,service.prets@stryker.com,Aucun,<fcdf7d09432f62fd7e071f0f125ae93a@app.arsenalc...,2020-07-21 12:00:22
3,Ouvert,21-07-2020 12:00:17,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:00:17
4,Ouvert,21-07-2020 12:00:04,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:00:04

In [18]:
df_error = dfDrop[dfDrop['st_text'] == 'Error']

In [19]:
len(dfDrop[dfDrop['email'] == 'thomas@medialeads.fr'])

50186

In [20]:
len(df_error[df_error['email'] == 'thomas@medialeads.fr'])

28

In [21]:
display(dfDrop.nunique())
display(dfDrop.sample(3))
display(dfDrop.info())
display(dfDrop['date'].min())
display(dfDrop['date'].max())

st_text        12
ts         399927
sub         73481
frm             5
email        1405
tag             1
mid         90969
date       399927
dtype: int64

,st_text,ts,sub,frm,email,tag,mid,date
109224,Délivré,04-06-2020 15:05:24,Votre demande A34054 - Confirmation de réserva...,contact@arsenalchirurgical.com,pph24@chu-reims.fr,Aucun,<30f802c743ca3e3bac2a32790df28820@app.arsenalc...,2020-06-04 15:05:24
342934,Ouvert,15-01-2020 10:10:37,Demande de prêt : A28947,contact@arsenalchirurgical.com,agroll@its.jnj.com,Aucun,<3aa83256575838ef798ea36bc31f8fc6@app.arsenalc...,2020-01-15 10:10:37
556673,Délivré,16-09-2019 16:54:18,Votre demande A23449 : réponse positive,contact@arsenalchirurgical.com,cdp-secretaires-bloc@cliniqueduparclyon.com,Aucun,<1afa8be919d3363132302399d8d894dc@app.arsenalc...,2019-09-16 16:54:18

<class 'pandas.core.frame.DataFrame'>
Int64Index: 701751 entries, 0 to 717868
Data columns (total 8 columns):
st_text    701751 non-null object
ts         701751 non-null object
sub        701751 non-null object
frm        701751 non-null object
email      701751 non-null object
tag        701751 non-null object
mid        701751 non-null object
date       701751 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 48.2+ MB

None

Timestamp('2019-05-17 15:26:55')

Timestamp('2020-07-21 12:03:35')

In [22]:
dfDrop['st_text'].value_counts()

Envoyé            215887
Délivré           215362
Ouvert            188791
1ère ouverture     60699
Cliqué             18388
Soft bounce         1235
Différé             1037
Bloqué               235
Hard bounce           78
Error                 28
Email invalide         7
Désinscrit             4
Name: st_text, dtype: int64

In [23]:
dfDrop[dfDrop['st_text'] == 'Ouvert']

,st_text,ts,sub,frm,email,tag,mid,date
0,Ouvert,21-07-2020 12:03:35,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:03:35
1,Ouvert,21-07-2020 12:01:11,A35996 : Nouvelle demande,contact@arsenalchirurgical.com,advortho@serf.fr,Aucun,<9d4d67a01cd9f7d3433b664baa2c0cd6@app.arsenalc...,2020-07-21 12:01:11
3,Ouvert,21-07-2020 12:00:17,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:00:17
4,Ouvert,21-07-2020 12:00:04,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 12:00:04
5,Ouvert,21-07-2020 11:59:51,Demande de prêt : A36518,contact@arsenalchirurgical.com,sergedmt@gmail.com,Aucun,<c3f187d347a17cafe825615c8054ecfa@app.arsenalc...,2020-07-21 11:59:51
...,...,...,...,...,...,...,...,...
717792,Ouvert,20-05-2019 09:38:01,A19063 : Nouvelle demande,contact@arsenalchirurgical.com,servicecommercialfrance@amplitude-ortho.com,Aucun,<d3a45d5c034cb9621d88099f17eb7152@app.arsenalc...,2019-05-20 09:38:01
717802,Ouvert,20-05-2019 09:35:19,Votre demande A19063 a bien été prise en compte,contact@arsenalchirurgical.com,magasinbloc.clp@gmail.com,Aucun,<a37fc9bba76a43a6b5ba7f5b4605e582@app.arsenalc...,2019-05-20 09:35:19
717806,Ouvert,20-05-2019 09:35:17,Votre demande A19062 a bien été prise en compte,contact@arsenalchirurgical.com,magasinbloc.clp@gmail.com,Aucun,<392469fa1a8adccd92d8af4e01e55768@app.arsenalc...,2019-05-20 09:35:17
717853,Ouvert,17-05-2019 17:59:55,[Arsenal Chirurgical] - Inscription sur notre ...,contact@arsenalchirurgical.com,copyresa@free.fr,Aucun,<500b97d5b321e79b990bb73fb497882a@arsenal.medi...,2019-05-17 17:59:55
717865,Ouvert,17-05-2019 15:26:57,An Error Occurred! Failed to create object: Dw...,arsenalrapport@europeansourcing.com,christopher.rochadias@europeansourcing.com,Aucun,<7c2eee2f5b3e4643c7daff151ad2dc52@arsenal.medi...,2019-05-17 15:26:57

## data prep

In [28]:
df_mail = pd.read_csv(path_input+'Sendiblue_logs-2016-07-15_2020-07-21.csv')
dfDrop = df_mail.copy().drop_duplicates()

In [29]:
dfDrop['PretID'] = dfDrop['sub'].str.extract(pat = '([A-Z][0-9]{5})')

In [30]:
dfDrop['PretID'].fillna('Unknow', inplace=True)

In [31]:
#Create a 'Status' column with default value set to 'ok'
dfDrop['Status'] = '99'
#Replace the '99' by 'A....' for the orders that have ID
mask = (dfDrop['sub'].str.contains(pat = '(enlevement)'))
dfDrop.loc[mask,'Status'] = 'enlevement'

mask = (dfDrop['sub'].str.contains(pat = '(relance)'))
dfDrop.loc[mask,'Status'] = 'relance'

mask = (dfDrop['sub'].str.contains(pat = '(Inscription)'))
dfDrop.loc[mask,'Status'] = 'inscription'

mask = (dfDrop['sub'].str.contains(pat = '(Error)'))
dfDrop.loc[mask,'Status'] = 'Error'

mask = (dfDrop['sub'].str.contains(pat = '(Demande de prêt)'))
dfDrop.loc[mask,'Status'] = 'DemandePret'

mask = (dfDrop['sub'].str.contains(pat = '(Nouvelle demande)'))
dfDrop.loc[mask,'Status'] = 'nouvelleDemande'

mask = (dfDrop['sub'].str.contains(pat = '(Confirmation )'))
dfDrop.loc[mask,'Status'] = 'confirmation'

mask = (dfDrop['sub'].str.contains(pat = '( réservation an)'))
dfDrop.loc[mask,'Status'] = 'annulee'

mask = (dfDrop['sub'].str.contains(pat = '(est termin)'))
dfDrop.loc[mask,'Status'] = 'terminee'


mask = (dfDrop['sub'].str.contains(pat = '(réponse positive)'))
dfDrop.loc[mask,'Status'] = 'réponsePos'

mask = (dfDrop['sub'].str.contains(pat = '(réponse négative)'))
dfDrop.loc[mask,'Status'] = 'réponseNeg'


mask = (dfDrop['sub'].str.contains(pat = '(prise en compte)'))
dfDrop.loc[mask,'Status'] = 'priseEnCompte'

mask = (dfDrop['sub'].str.contains(pat = '( réservation an)'))
dfDrop.loc[mask,'Status'] = 'ReservAnnulee'

mask = (dfDrop['sub'].str.contains(pat = '(retenu)'))
dfDrop.loc[mask,'Status'] = 'nonRetenu'


mask = (dfDrop['sub'].str.contains(pat = '(pré-réservation)'))
dfDrop.loc[mask,'Status'] = 'preReserv'

mask = (dfDrop['sub'].str.contains(pat = '(a été annulée)'))
dfDrop.loc[mask,'Status'] = 'commAnnulee'

mask = (dfDrop['sub'].str.contains(pat = '(Aucun)'))
dfDrop.loc[mask,'Status'] = 'aucun'

mask = (dfDrop['sub'].str.contains(pat = '(réservation)'))
dfDrop.loc[mask,'Status'] = 'reservation'

mask = (dfDrop['sub'].str.contains(pat = '(Roxanne)'))
dfDrop.loc[mask,'Status'] = 'meessageRoxanne'

mask = (dfDrop['sub'].str.contains(pat = '(prêtA)'))
dfDrop.loc[mask,'Status'] = 'pret'


dfDrop['Status'].value_counts()

/home/anthelix/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

reservation        174511
DemandePret        157962
priseEnCompte      107466
nouvelleDemande     84187
Error               50139
réponsePos          48939
enlevement          20199
terminee            15120
nonRetenu           12133
commAnnulee          9479
relance              8717
inscription          7799
réponseNeg           4672
pret                  191
99                    103
aucun                  88
meessageRoxanne        40
confirmation            6
Name: Status, dtype: int64

In [32]:
dfDrop.nunique()

st_text        12
ts         399927
sub         73481
frm             5
email        1405
tag             1
mid         90969
PretID      18004
Status         18
dtype: int64

In [33]:
dfDrop.drop(['tag','ts', 'mid','frm','email', 'sub' ], 1, inplace=True)

In [34]:
display(dfDrop.head(10))
display(dfDrop.shape)
display(dfDrop.info())

          st_text  PretID           Status
0          Ouvert  A36518      DemandePret
1          Ouvert  A35996  nouvelleDemande
2  1ère ouverture  A34993       enlevement
3          Ouvert  A36518      DemandePret
4          Ouvert  A36518      DemandePret
5          Ouvert  A36518      DemandePret
6          Ouvert  A36518      DemandePret
7          Ouvert  A36518      DemandePret
8          Ouvert  A36518      DemandePret
9          Ouvert  A36518      DemandePret

(701751, 3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 701751 entries, 0 to 717868
Data columns (total 3 columns):
st_text    701751 non-null object
PretID     701751 non-null object
Status     701751 non-null object
dtypes: object(3)
memory usage: 21.4+ MB

None

In [35]:
dfDrop.to_csv(path_output+'sendInBlue.csv')

In [36]:
dfDrop.head()

          st_text  PretID           Status
0          Ouvert  A36518      DemandePret
1          Ouvert  A35996  nouvelleDemande
2  1ère ouverture  A34993       enlevement
3          Ouvert  A36518      DemandePret
4          Ouvert  A36518      DemandePret

In [37]:
df = dfDrop.sort_values(by='PretID', ascending=True)
df = df[df['PretID'] != 'A00000']
df = df[df['PretID'] != 'Unknow']
df = df[df['PretID'] != 'Error']

In [38]:
df.head(20)

               st_text  PretID       Status
650757         Délivré  A00419  reservation
650758         Délivré  A00419  reservation
650759         Délivré  A00419  reservation
650761          Envoyé  A00419  reservation
650760          Envoyé  A00419  reservation
650603  1ère ouverture  A00419  reservation
650762          Envoyé  A00419  reservation
650602  1ère ouverture  A00419  reservation
650518  1ère ouverture  A00419  reservation
716342         Délivré  A00420  reservation
716351         Délivré  A00420   réponsePos
712383          Ouvert  A00420  reservation
716350  1ère ouverture  A00420   réponsePos
716349  1ère ouverture  A00420   réponsePos
716346          Envoyé  A00420  reservation
716354          Envoyé  A00420   réponsePos
716353          Envoyé  A00420   réponsePos
716345          Envoyé  A00420  reservation
716352         Délivré  A00420   réponsePos
716341         Délivré  A00420  reservation

In [32]:
df = df[['PretID', 'date', 'st_text', 'Status']]
dfGroup = df.groupby(['PretID', 'Status', 'st_text', 'date'])

In [33]:
dfGroup.head()

        PretID                date  st_text       Status
650757  A00419 2019-07-05 09:18:24  Délivré  reservation
650758  A00419 2019-07-05 09:18:24  Délivré  reservation
650759  A00419 2019-07-05 09:18:24  Délivré  reservation
650761  A00419 2019-07-05 09:18:24   Envoyé  reservation
650760  A00419 2019-07-05 09:18:24   Envoyé  reservation
...        ...                 ...      ...          ...
212747  G19385 2020-03-11 07:47:14  Délivré        Error
226566  G19385 2020-03-05 07:33:01  Délivré        Error
226567  G19385 2020-03-05 07:33:00   Envoyé        Error
214564  R12491 2020-03-10 12:48:28   Envoyé        Error
214563  R12491 2020-03-10 12:48:28  Délivré        Error

[621636 rows x 4 columns]

In [34]:
list(dfDrop['st_text'].unique())

['Ouvert',
 '1ère ouverture',
 'Délivré',
 'Envoyé',
 'Cliqué',
 'Différé',
 'Bloqué',
 'Hard bounce',
 'Soft bounce',
 'Error',
 'Désinscrit',
 'Email invalide']